<li class="nav-item">
    <a class="nav-link" href="/Courses/Index">Courses</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/Courses/Create">Create Course</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/Chat/Index">Chat</a>
</li>
<li class="nav-item">
    @Html.ActionLink("Requests", "Requests", "Home", new { @class = "nav-link" })
</li>

<li class="nav-link">
    <span class="badge badge-info">@ViewBag.messages</span>
</li>


