<section class="team_area p_120">

    <div class="container">

        <div class="main_title">

            <h2>Meet Our Faculty</h2>
            <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station.</p>
        </div>

        <div class="row team_inner">
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">

                    <div class="team_img">
                        <img class="rounded-circle" src="/Images/OurTeam/Diakos.jpg" alt="">

                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>

                    <div class="team_name">
                        <h4>Diakos Nikos</h4>
                        <p>Team Leader</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="/Images/OurTeam/Makris.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>Makrhs Kiriakos</h4>
                        <p>Back End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="/Images/OurTeam/Mitropoulos.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>Mitropoulos George</h4>
                        <p>Web Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="/Images/OurTeam/Mizikakis.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>Mizikakis Christos</h4>
                        <p> I dont know yet </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

