<div id="g">


    <h3> ABOUT OUR TEAM </h3>
    <br>
    <br>
    <div class="row">


        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscinProjInfo elit. Fusce lectus elit, tincidunt nec turpis sed, accumsan iaculis ipsum. Nulla at auProjInfoue auctor, tristique erat in, ultricies nunc. Mauris eProjInfoet metus leo. Ut in mi lacinia, mattis nisl non, ultrices risus. Vestibulum aliquet aliquam ipsum ut ullamcorper. Pellentesque frinProjInfoilla, massa vel rutrum consequat, nulla velit fermentum dolor, sed scelerisque.</p>
            <br>
            <br>
        </div>
        <div class="col-lg-2"></div>

    </div>
</div>

<div class="container well">
    <div class="row">
        <div class="col-lg-3 text-center">

            <img class="img-circle" src="/Images/OurTeam/Diakos.jpg" height="140" width="140"/>


            <h4>Diakos Nikos</h4>
            <h5><i>Team Leader</i></h5>
            <p>Lorem Ipsum is simply dummy text of the printinProjInfo and typesettinProjInfo industry.</p>
            <p>
                <a href="https://www.facebook.com/nikos.diakos"><i class="fab fa-facebook-f fa-2x"></i></a>
                <a href="https://ProjInfoithub.com/nastytweety"><i class="fab fa-github fa-2x"></i></a>
                <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
            </p>
        </div>

        <div class="col-lg-3 text-center">
            <img class="img-circle" src="/Images/OurTeam/Makris.jpg" height="140" width="140">

            <h4>Makris Kuriakos</h4>
            <h5><i>Back-end Guru</i></h5>
            <p>Lorem Ipsum is simply dummy text of the printinProjInfo and typesettinProjInfo industry.</p>
            <p>
                <a href="https://www.facebook.com/kuriakos.makris"><i class="fab fa-facebook-f fa-2x"></i></a>
                <a href="https://ProjInfoithub.com/kyr87"><i class="fab fa-github fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/kyriakos-makris/"><i class="fab fa-linkedin fa-2x "></i></a>

            </p>
        </div>

        <div class="col-lg-3 text-center">
            <img class="img-circle" src="/Images/OurTeam/Mitropoulos.jpg" height="140" width="140">

            <h4>Mitropoulos George</h4>
            <h5><i>Web Designer</i></h5>
            <p>Lorem Ipsum is simply dummy text of the printinProjInfo and typesettinProjInfo industry.</p>
            <p>
                <a href="https://www.facebook.com/mitropoulos"><i class="fab fa-facebook-f fa-2x"></i></a>
                <a href="https://github.com/Geomit92"><i class="fab fa-github fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/geomit"><i class="fab fa-linkedin fa-2x"></i></a>

            </p>
        </div>

        <div class="col-lg-3 text-center">
            <img class="img-circle" src="/Images/OurTeam/Mizikakis.jpg" height="140" width="140">

            <h4>Mizikakis Christos</h4>
            <h5><i>Front-end Developer</i></h5>
            <p>Lorem Ipsum is simply dummy text of the printinProjInfo and typesettinProjInfo industry.</p>
            <p>
                <a href="https://www.facebook.com/xmizikakis"><i class="fab fa-facebook-f"></i></a>
                <a href="https://ProjInfoithub.com/ChristosMizi"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/christos-mizikakis/"><i class="fab fa-linkedin"></i></a>

            </p>
        </div>
    </div>
</div><!-- /container -->
