@model TeamRoles.Models.GetSubmitViewModel

<div class="container">
    <div class="row padding-top-10 text-center">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <table class="table">

                <thead>
                <tr>
                    <th>Filename</th>
                    <th>Options</th>
                </tr>
                </thead>

                <tbody>
                @if (Model.filenames.Count() != 0)
                {
                    foreach (var item in Model.filenames)
                    {

                        <tr class="table-active">
                            <td>
                                @item
                            </td>
                            <td>
                                @Html.ActionLink(" ", "DownloadFile", new { filename = item, coursename = Model.coursename, username = Model.username, assignment = Model.assignmentname, mode = Model.mode }, new { @class = "fas fa-download fa-2x black-text" })
                                @Html.ActionLink(" ", "DeleteFile", new { filename = item, coursename = Model.coursename, username = Model.username, assignment = Model.assignmentname, mode = Model.mode }, new { @class = "fas fa-folder-minus fa-2x black-text" })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="table-danger">
                        <td></td>
                        <td> No Sumbits here...</td>
                    </tr>
                }
                
                </tbody>  
            </table>
            <div class="row ">
                @Html.ActionLink("Back to List", "ListAssignments", "Assignments" ,new { CourseId = ViewBag.CourseId }, new {@class = "fas fa-chevron-left padding-top-10 black-text" })

            </div>
        </div>
    </div>
</div>
