

@{
    ViewBag.Title = "Upload";
}

<h1 class="text-danger">@ViewBag.Message</h1>

@Html.ActionLink("Back To Assignments", "ListAssignments", "Assignments", new { courseid = ViewBag.CourseId },null)
