@model TeamRoles.Models.Index_SelectedViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            CourseName
        </th>
        <th>
            Teacher
        </th>
        <th>
            Options
        </th>
    </tr>
    @foreach (var item in Model.Courses)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUsers.First().UserName)
            </td>
            <td>
                @Html.ActionLink("Details", "CourseHome", new { id = item.CourseId }) |
                @Html.ActionLink("Delete", "StudentRemoveCourse", new { id = item.CourseId })
            </td>
        </tr>
    }

</table>
