@model IEnumerable<TeamRoles.Models.Lecture>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center padding-top-10">

            <table class="table">
                <thead>
                    <tr>
                        <th>Lecture Name</th>
                        <th>Archive</th>
                        <th>Post Date</th>
                        @if (User.IsInRole("Teacher"))
                        {
                            <th>Options</th>
                        }
                    </tr>
                </thead>

                <tbody>

                    @if (Model.Count() != 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr class="table-active">

                                <td>@item.LectureName</td>
                                <td>@Html.ActionLink("Download", "DownloadFile", "UploadFiles", new { filename = item.Filename, coursename = item.Course.CourseName, username = item.Course.Teacher.UserName, filefolder = item.LectureName, mode = "lectures" }, new{@class="black-text"})</td>
                                <td>@item.PostDate</td>

                                @if (User.IsInRole("Teacher"))
                                {
                                    <td>
                                        @Html.ActionLink("Delete", "Delete", new { id = item.LectureId }, new { @class = "black-text" })
                                    </td>
                                }
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="table-danger">
                            <td></td>
                            <td>This Course has no Lecture yet.</td>
                            <td></td>
                            @if (User.IsInRole("Teacher"))
                            {
                                <td></td>
                            }
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <a href="/Courses/CourseHome/@ViewBag.Id"><i class="fas fa-chevron-left padding-top-10"></i> Back to Course </a>
    </div>
</div>

