<li class="nav-item">
    <a class="nav-link" href="/Student/Student_Index_ToSelect">Students</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/Home/Requests">Requests Sent</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/Chat/Index">Chat2</a>
</li>
<li class="nav-item">
    @Html.ActionLink("MyChildren", "Parent_Index", "Student", new { @class = "nav-link" })
</li>

<li class="nav-link">
    <span class="badge badge-info">@ViewBag.messages</span>
</li>

