
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 20px;
    padding-right: 20px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}


#testing {  
    max-width: 200px;
    margin: 0 auto;
}



.img-circle {
    border-radius: 70%;
}

#g {
    /*background: #f2f2f2;*/
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    margin-bottom: 15px;
}

.desc {
    text-align: left;
}

.desc-b {
    border-left: 4px solid #bababa;
}

.well {
    text-align: justify;
    min-height: 20px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    /*margin-top: 20px; 
    margin-bottom: 20px;*/

    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;

    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}


.pull-right {
    float: right !important;
}


.margin-top-15 {
    margin-top: 15px;
}

.txt-center {
    text-align: center;
}

.padding-top-20 {
    padding-top: 20px;
}
