
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 20px;
    padding-right: 20px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}


#testing {  
    max-width: 200px;
    margin: 0 auto;
}


.padding-bottom-20 {
    padding-bottom: 20px;
}


.img-circle {
    border-radius: 70%;
}

#g {
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    margin-bottom: 15px;
}

.desc {
    text-align: left;
}

.desc-b {
    border-left: 4px solid black;
}

.well {
    text-align: justify;
    min-height: 20px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;

    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.white-back {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}


.pull-right {
    float: right !important;
}


.margin-top-15 {
    margin-top: 15px;
}

.txt-center {
    text-align: center;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-10 {
    padding-top: 10px;
}

.text-center {
    vertical-align: middle;
    text-align: center;
}

/* ------- TEACHER STATISTICS ------------ */

.box {
    background: linear-gradient(#526494, #604484);
    margin: 15px auto 0;
    border-radius: 5px;
    width: 250px;
}

.box__body {
    padding: 0 25px;
}

.stats {
    color: #fff;
    position: relative;
    padding-bottom: 25px;
}

.stats__amount {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2;
}

.stats__caption {
    font-size: 18px;

}

.stats--main .stats__amount {
    font-size: 54px;
}